  
    * {
        padding: 0;
        margin:0;
        box-sizing: border-box;
        top:0;
        left: 0;
        
    }
    body{
        font-family:Arial, Helvetica, sans-serif;
        margin: 0;
        background: rgb(252, 251, 248);
        height: auto;
    }
   
    
   
    .content{
        display: flex;
        justify-content: space-between;
        
    }
    header{
        
        height: 10vh;
        line-height: 10vh;
        padding: 0 10px;
        margin-right: 0px;
        margin-top: -5px;
    }
    header img{
        margin: 20px 0;
        margin-bottom: -10px;
        height: 100px;
        

    }
    a{
    text-decoration: none;
    color: currentColor;
    }
    header .menu ul{
        width: 95%;
        height: 7%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    header .navbar ul{
        list-style: none;
        display: flex;
        
        

    }
    header ul li{
        display: inline-block;
        text-transform: uppercase;
        font-size: larger;
        font-weight: bold;
        padding: 15px ;
        
        
        
    }
 
   /*    .navlinks, .drop-down li{
   list-style: none;
   
   padding: 0.5rem 1rem;
   cursor: pointer;

}



}*/

/*.drop-down{
   position: absolute;
   padding: 0rem 1rem;
   margin: 0.5rem  -0.5rem;
   background: white;
   display: none;


}
.Trains:hover .drop-down{
display: block

}*/

    header ul li a{
        text-decoration: none;
        color: orange;
        transition: .4s linear;
        cursor: pointer;
        margin: 10px ;
        color: rgb(83, 51, 226);
        
    }
    
    header .navbar ul li a:hover{
        color: darkorange;
        font-size: 20px;
        padding: 5px;
    }
    header .navbar ul li:nth-last-child(8) a{
        background: rgb(26, 26, 122);
        border-radius: 5px;
        padding: 3px 12px;
        color: white;
    }
    header .navbar .down li:nth-last-child(4) a{
        background: rgb(26, 26, 131);
        border-radius: 5px;
        padding: 3px 10px;
        color: white;
    }
    header .navbar ul li #current-time  h3  {
        position: absolute;
        transform: translate(50% 50%);
        
    }
    #current-time{
        color: red;
    }
    header .container:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 550px;
        
        background: url('image/image0.webp')no-repeat center center/cover;
        margin-left: -10px;
        z-index: -1;
    }
    header .container .cont {
        justify-content: end;
        width: 100%;
        height: auto;
        padding: 10px;
    
        
    }
    header .container h1{
        display: flex;
        color: white;
        font-weight: bolder;
        font-size: 50px;
        justify-content: start;
        
        
    }
    header .container h4{
        display: flex;
        justify-content: start;
        color: white;
        font-size: 20px;
        margin-left: 55px;
        margin-top: -30px;
    }
    header .container .cont h2{
        display: flex;
        color: white;
        margin-left: 29px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        
    }
    header .container .cont h2 img{
        height: 70px;
       
        margin:0%;
    }
    header .container .cont i{
        display: flex;
        justify-content: center;
    }
    header .trip_box{
        position: relative;
        width: 95%;
        height: auto;
        margin: auto;
        margin-top: -30px;
        /*border: 1px solid black;*/
        

    }
    header .trip_box .search_box{
        display: flex;
        position: absolute;
        margin: 0;
        top:0px;
        left: 0;
        width: 100%;
        height: 150px;
        /*align-items: center;
        justify-content: center;*/
        border-radius: 10px;
        background: white;
        box-shadow: 0 10px 10px gray;
        z-index: 1;
        padding: 0px 10px;
    }
    header .container .dest .lst ul{
        display: flex;
        justify-content: center;
        margin-left: -20px;
    }
    header .container .dest .lst ul li{
        display: flex;
        text-transform: uppercase;
        padding: 20px;
        
        
    }
    header .container .dest .lst ul li a{
        color: white;
       
    }
    header .container .dest .lst ul{
        margin-top: 40px;
    }
    header .trip_box .search_box .card{
        display: flex;
        
        width:400px;
        height: 100%;
        /*border: 1px solid black;*/
        margin-top: 0;
    }
    header .trip_box .search_box .card h5{
        position: relative;
        font-size: 14px;
        margin-top: -15px;
        font-weight: 600;
        
    }
    
    header .trip_box .search_box .card h5 .bi{
        display: inline-flex;
        font-size: 14px;
        margin-left: 5px;
        margin-bottom: -5px;
        transition: .3s linear;
    }
    header .trip_box .search_box .card input{
        
        padding: 5px 0px;
        width: 200px;
        height: 25px;
        margin: 40px 0;
        margin-right: auto;
        border: none;
        outline: none;
        font-size: 15px;
        
        
    }
    
    header .trip_box .search_box input[type="button"]{
        background: rgb(235, 106, 0);
        color: white;
        font-weight: bolder;
        font-size: 17px;
        padding: 10px 55px;
        border: none;
        outline: none;
        border-radius: 7px;
        transition: .3s linear;
        cursor: pointer;
    }
    header .trip_box .dead{
        display: flex;
        position: absolute;
        background: rgb(239, 198, 242);
        width: 95%;
        height: 55px;
        z-index: 1;
        top:50px;
        margin-top: 30px;
        margin-left: 35px;
        border-radius: 5px;
        justify-content: center;
    }
    header .trip_box .dead #get h5{
        display: flex;
        margin:auto;
        margin-top: -30px;
        padding: 20px;
    }
    header .trip_box .dead input[type="checkbox"]{
        width: 20px;
        height: 20px;
        margin-top: 15px;
    }
 
   .offers{

         width: 70%;
         height: auto;
         margin: auto;
        
         margin-top: 700px;  
            
   }
   .offers h1 ,h3{
    text-transform: uppercase; 
   }
   .offers .one .card1{
    width: 100%;
    height: 100px;
    
   }
   .offers .one .card2{
    margin: 0;
    width: 500px ;
    height: 100px;
    
    margin-top: 40px;
    
    justify-content: center;
   }
   .offers h1{
        justify-content: center;
        text-align: center;
        margin: 0;
        margin: 5px 0px;
   }
   .offers h3{
    
        text-align: center;
        
        margin: 0;
        color: rgb(115, 101, 101);
        width: 370px;
        
        margin-left: 300px;
        padding: 8px;
        
        
   }
   .offers img{
    display: flex;
    width: 40px;
    height: 40px;
    margin: auto;
    justify-content: center;
    margin-top: -36px;
    margin-right:350px;

   }
   .offers .one{
    display:inline-block;
   }
   .offers ul{
        
       
        display: flex;
        margin-left: 0px;
   }
   .offers ul li{

        
        padding: 20px 20px;
        font-size: larger;
        font-weight: bold;

   }
   .offers ul li a{
        font-weight: bolder;
        margin: 0px ;
        color: rgb(7, 7, 7);
        transition: .4s linear;
       
        
   }
   .offers ul img {
    margin-left: 70px;
    
   }
   section .sec{
    margin-top: 50px;
   }
   section .under-cont{
    background: white;
    box-shadow: -3px -3px 15px 10px rgb(191, 190, 190);
    margin: auto;
    width: 90%;
    height: auto;
    
    
   }
   section .under-cont ul li{
    list-style: circle;
    padding: 10px;
    list-style-position: inside;
    padding-left: 60px;
   }

   .city{
    background: white;
    padding-left: 19px 9%;
    padding-bottom: 100px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    box-shadow: -2px -2px 12px 10px rgb(191, 190, 190);
   }

   .city .heading{

    text-align: center;
    padding-bottom: 15px;
    color: rgb(250, 147, 84);
    font-size: 40px;
    padding: 20px;

   }

   .city .box-cont{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(420px,1fr));
    gap: 15px;
   }
   .city .box-cont .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 10px;
    background: white;
    text-align: center;
    padding: 20px 20px;
   }
   .city .box-cont .box img{
    height: 100px;
    width: 150px;
   }
   .city .box-cont .box h3{
    
    color: orange;
    font-size: 20px;
    padding: 0px 0;
   }
   .city .box-cont .box p{
    color: rgb(9, 9, 9);
    font-size: 15px;
    line-height: 1.8;
   }
   .city .box-cont .box .button{
    margin: 8px;
    display: inline-block;
    background-color: orange;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 25px;
   }


   
   
   .city .box-cont .box .button:hover{
    letter-spacing: 1px;
   }
   .city .box-cont .box .button:hover{
    box-shadow: 0 8px 12px rgba(0,0,0,.3);

   }
   .city .box-cont .box:hover{
    transform: scale(1.02);
   }
   @media(max-width:768px){             
    .city{
        padding: 20px;
    }
   }
   footer{
    margin-top: 50px;
    width: 100%;
    bottom: 0;
    background: #3A1248;
    padding: 50px 0 40px;
    font-size: 15px;
    line-height: 10px;
    color: white;
   }
   .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
   }
   .col{
    flex-basis: 20%;
    padding: 10px;

   }
   .col h3{
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
   }
   .col p{
    padding: 10px;
    transition: .8s linear;
   }
   .col p:hover{
    font-size: 16.5px;

   }
   form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    border-bottom: 1px solid white;
   
   }
   
   form buttons{
    background: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
   }
   form input{
    width: 100%;
    background: transparent;
    color: white;
    border: 0;
    outline: none;
   }
   form buttons{
    color: white;
    font-size: 20px;
   }
   hr{
    border: 0;
    width: 90%;
    border-bottom: 1px solid white;
    margin: 20px auto;
   }
   .copyright{
    text-align: center;
   }
   .underline{
    width: 100%;
    height: 5px;
    background: rgba(245, 245, 245, 0.536);
    border-radius: 3px;
    position: absolute;
    top: 20px;
    left: 0;
    overflow: hidden;
   }
   .underline span{
    width: 18px;
    height: 100%;
    background: rgba(255, 255, 255, 0.766);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 3s linear infinite;
   }
   @keyframes moving{
    0%{
        left: -10px;
    }
    100%{
        left: 100%;
    }
   }

   .one{
    margin-top: 360px;
   }
   
   .containers1{
           position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1000px;
            height: 600px;
            background: grey;
            box-shadow: 0 10px 10px grey;
           

        }
        .containers1 .slide .item{
width: 200px;
height: 300px;
position: absolute;
top: 50%;
transform: translate(0,-50%);
border-radius: 20px;
box-shadow: 0 30px 50px grey;
background-position: 50% 50%;
background-size: cover;
display: inline-block;
transition: 0.5s;

        }
        .slide .item:nth-child(1),
        .slide .item:nth-child(2){
            top: 0;
left: 0;
transform: translate(0, 0);
border-radius: 0;
width: 100%;
height: 100%;
        }
        .slide .item:nth-child(3){
            left: 50%;
        }
        .slide .item:nth-child(4){
            left: calc(50% + 220px);
        }
        .slide .item:nth-child(5){
            left: calc(50% + 440px);
        }
        
     /* here n = 0,1,2,3,..*/
       .slide .item:nth-child(n + 6){
            left: calc(50% + 660px);
            opacity: 0;
        } 
        .item .contents2{
            position: absolute;
            top: 50%;
            left: 100px;
            width: 300px;
            text-align: left;
            color: white;
            transform: translate(0, 50%);
            display: none;
        }
        .slide .item:nth-child(2) .contents2{
            display: block;
        }
        .contents2 .name{
            font-size: 40px;
            text-transform: uppercase;
            font-weight: bold;
            opacity: 0;
            animation: animate 1s ease-in-out 1 forwards;
        }
       .contents2 .des{
         margin-top: -10px;
         margin-bottom: 20px;
         opacity: 0;
         animation: animate 1s ease-in-out 0.3s 1 forwards;
         color:white;
       }
       .contents2 button{
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        opacity: 0;
        animation: animate 1s ease-in-out 0.6s 1 forwards;
       }
        @keyframes animate{
            from{
                opacity: 0;
                transform: translate(0, 100px);
                filter: blur(33px);
            }
            to{
                opacity: 1;
                transform: translate(0);
                filter: blur(0);
            }
        }
        .button{
            width: 100%;
            text-align: center;
            position: absolute;
            top: 550px;
        }
        .button button{
            width: 40px;
            height: 35px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            margin: 0 5px;
            border: 1px solid black;
            transition: 0.3s;
        }
        .button button:hover{
            background:orangered;
            color: #fff;
        }

  .two{
    margin-top: -250px;
  }
